// Variables
$fonts:(
    "main":"Nerko One",
    "second":"Arial"
);
$border: solid 1px black;
$transform : translate(-50%,-50%);
$font:15px;
$margin:10px;
$mainBgc:#fff;

// Mixin
@mixin position($style,$top,$left){
    position:$style;
    top:$top;
    left:$left;
}
@mixin flex($direction,$justify,$align){
    flex-direction:$direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin width($width){
    width:$width;
}
@mixin align($align){
    text-align:$align;
}

// Reset
*{
    margin:0;
    padding:0;
    box-sizing:0;
    font-size: $font;
    font-family: map-get($fonts,main);
}