*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Nerko One', cursive;
}
.wrapper{
    min-height:100vh;
    background-image: url("./moroccan-flower.png");
}
.main_header{
    border:1px solid black;
    position:fixed;
    top:10%;
    left:80%;
    transform:translate(-50%,-50%);
    width:30%;
    background-color: #fff;
    text-align:center;
}
.main_header--heading{
    font-size:30px;
    text-transform: uppercase;
    text-align:center;
}
[data-error]{
    color:red;
}
.error{
    display:none;
}
.formElement{
    margin-top:20px;
}
.todo_container{
    width:50%;
    border:1px solid black;
    background-color: #fff;
}
.search{
    display:flex;
}
.search p{
    margin:10px;
}
.searchInput{
    margin-left:10px;
    padding-left:10px;
}
.todo_list{
    padding:30px;
}
.todo_list div{
    border:1px solid black;
    display:flex;
    justify-content:space-around;
    height:40px;
    align-items:center;
    margin-bottom:10px;
}
h3{
    font-family:arial;
}
i{
    cursor:pointer;
    font-size:20px;
}
@media(max-width:400px){
    .main_header{
        width:80%;
    }
    .todo_container{
        width:90%;
    }
}